@using Quarter.Components.Navigation

<nav class="q-navigation">
    <PageNavigationItem Title="Home" Path="@Page.Home" IconRef="#icon-home" test="nav-home" />
    <PageNavigationItem Title="Timesheets" Path="@Page.TimesheetBase" Match="NavLinkMatch.Prefix" IconRef="#icon-timesheet" test="nav-timesheets" />
    <PageNavigationItem Title="Manage" Path="@Page.Manage" IconRef="#icon-manage" test="nav-manage" />
    <PageNavigationItem Title="Report" Path="@Page.WeeklyReport" IconRef="#icon-report" test="nav-report" />
    <AuthorizeView Roles="administrator">
        <PageNavigationItem Title="Admin" Path="@Page.Admin" IconRef="#icon-settings" test="nav-admin" />
    </AuthorizeView>
    <PageNavigationItem Title="Logout" Path="@Page.Logout" IconRef="#icon-logout" test="nav-logout" />
</nav>

@code {

}